body {
  font-size: 14px;
  /*background: url("./img/stock_exchange.jpg");
  background-repeat: no-repeat;*/
  background-color:#f4f4f4;
}

.merge-with-background {
  background-color:#f4f4f4;
  border-style: none;
}

.error {
  color: red;
}

#showcase{
    /*light abstract blue image with tools settings = LARGE*/
    background-image: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100px;
    margin-bottom: 30px;
    background-position: center;
    text-align: center;
}

#footer-showcase {
    /*light abstract blue image with tools settings = LARGE*/
    background-image: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50px;
    color:white;
}

#paginationDiv {
    margin-bottom: 100px;
}

#footer-showcase div {
    text-align: center;
    width: 100%;
    background-position: center;
}

.search label {
    margin-right: 15px;
    font-weight: bold;
}