<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>
<div th:replace="fragments :: messages"></div>

<form method="post" th:action="@{/tags/edit}">
    <div class="form-group">
        <label>Field name
            <input th:field="${tag.name}"
                   placeholder="Investment field name"
                   class="form-control" required>
        </label>
        <p th:errors="${tag.name}"
           class="error"></p>
    </div>
    <div class="form-group">
        <label>Description of the investment field
            <textarea th:field="${tag.description}"
                      class="form-control"
                      placeholder="Required description"
                      required>
            </textarea>
        </label>
        <p class="error"
           th:errors="${tag.description}"></p>
    </div>
    <input type="hidden"
           name="tagId"
           th:value="${tagId}"/>
    <div class="form-group">
        <input type="submit"
               value="Save investment field"
               class="btn btn-success">
        <a  th:href="@{${'/tags'}}"
            class="btn btn-info">
            Cancel
        </a>
    </div>
</form>

<div th:insert="fragments :: footer"></div>
</body>
</html>