<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div th:replace="fragments :: messages"></div>

<form method="post"
      th:action="@{/stocks/adjust-shares-portfolio}">
    <div class="form-group">
        <label>Number of shares for <span th:text="${stock.ticker}"></span>
            <input class="form-control"
                   type="number"
                   th:value="${stockShare.getNumberOfShares()}"
                   id="numberOfShares"
                   name="numberOfShares"
                   min="0" max="1000"/>
        </label>
    </div>

    <div class="form-group">
        <input type="hidden"
               th:value="${stockShare.id}"
               name="stockShareId" />
        <input type="submit"
               value="Update number of shares"
               class="btn btn-success">
        <a th:href="@{${'/stocks/portfolio'}}"
           class="btn btn-info">
            Cancel
        </a>
    </div>
</form>
<div th:insert="fragments :: footer"></div>
</body>
</html>