<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<div th:replace="fragments :: header"></div>

<div th:replace="fragments :: messages"></div>

<!-- main class="container-fluid" -->

<h2 th:unless="${stockPage} and ${stockPage.content.size()}">
    No stocks were found!
</h2>

<div th:if="${stockPage != null} and ${stockPage.content.size() > 0}" class="row">
    <div class="col-sm-12 col-md-4 merge-with-background">
        <!-- div class="card mb-4 merge-with-background">
            <div class="card-body text-left merge-with-background">
                <a th:href="@{${'/stocks/callAPIs'}}"
                   th:alt-title="'Query API to refresh stocks data'"
                   class="btn btn-info mb-3">
                    Refresh stock data
                </a>
            </div>
        </div -->
    </div>
<div class="progress" th:style="'border:1px solid blue; width:50%'">

    <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated"
         role="progressbar"
         style="width: 0%"
         aria-valuenow="0"
         aria-valuemin="0"
         aria-valuemax="100"
    >
        <span id="current-progress"></span>
    </div>

    <script th:inline="javascript">
            $(function() {
              var current_progress = [[${current_progress}]];
                var interval = setInterval(function() {
                    current_progress += 10;
                    $("#dynamic")
                    .css("width", current_progress + "%")
                    .attr("aria-valuenow", current_progress)
                    .text(current_progress + "% Complete");
                    if (current_progress >= 100)
                        clearInterval(interval);
                    }, 1000);
            });
        </script>
    <!--
         **th:aria-valuenow="${model}"**
    -->


</div>
</div>
<br><br>
<div class="row">
    <div class="col">
        <div class="table-responsive xl">
            <table class="table table-borderless table-hover table-striped table-dark">
                <caption>List of stocks</caption>
                <thead class="thead-dark">
                <th:block th:replace="fragments :: headerStocksRow"></th:block>
                <!-- tr>
                    <th>Ticker</th>
                    <th>Last Price</th>
                    <th>Patents Portfolio</th>
                    <th>Track stock</th>
                </tr -->
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a th:alt-title="'View details of IP30'"
                           th:href="@{${'/stocks/IP30/'}}">
                            <span th:text="'IP30'"></span>
                            <br/>
                            <span>30 most patented companies</span></a>
                    </td>
                    <td>
                    <span th:style="'color:green; font-weight:bold'"
                          th:text="${#numbers.formatDecimal(weightedPrice, 0, 'COMMA', 2, 'POINT')}">
                    </span>
                        <br/><span th:text="${stockPage.content[0].stockDetails.getLastTradeTime()}">hour</span>
                    </td>
                    <td>
                    <span th:style="'color:green; font-weight:bold'"
                          th:text="${#numbers.formatDecimal(aggregatedPatents, 0, 'COMMA', 0, 'POINT')}">
                    </span>
                        <br/><span th:text="${stockPage.content[0].stockDetails.getLastUsptoApiUpdate()}">hour</span>
                    </td>
                    <td></td>
                </tr>
                <th:block th:replace="fragments :: listingResults"></th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: listingResultsPagination"></th:block>

<!--/main -->

<div th:insert="fragments :: footer"></div>

</body>
</html>