<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: messages"></div>

<div class="front-page">
    <div class="badger">
        <ul>
            <li th:each="action : ${actions}">
                <a th:href="@{'/' + ${action.key}}"
                   th:text="${action.value}">
                </a>
            </li>
        </ul>
    </div>
    <div class="badger badger-right">

    </div>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>