<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: messages"></div>

<!--div style="margin-top:150px">
    <h1 th:text="${title}+' | Patent Investor'">Patent Investor</h1>
</div-->

<form method="post" th:action="@{/login}">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control"
                   th:field="${loginFormDTO.username}">
        </label>
        <p class="error"
           th:errors="${loginFormDTO.username}">
        </p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control"
                   th:field="${loginFormDTO.password}"
                   type="password">
        </label>
        <p class="error"
           th:errors="${loginFormDTO.password}">
        </p>
    </div>
    <div class="form-group">
        <input id="remember-me"
               type="checkbox"
               name="remember-me" />
        <label for="remember-me">
            Remember Me
        </label>
    </div>
    <input type="submit"
           class="btn btn-primary"
           value="Log In"/>
</form>

<p>Don't have an account?
    <a href="/register">Register for one.</a>
</p>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>